#wpadminbar .wprb-exit-selection-mode .ab-item:before {
  content: "\f535";
  top: 2px;
}

#wpadminbar .wprb-exit-selection-mode .ab-item {
  background-color: #CD5C5C;
  font-weight: bold;
}

.wprb-add-selection {
  background-color: LightSkyBlue;
  border: 3px dashed red;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
}

.wprb-selection-added {
  background-color: Lime;
  border: 3px dashed red;
  cursor: pointer; 
  box-sizing: border-box;
  padding: 5px;
}

