.wprb-add-selection {
  background-color: LightSkyBlue;
  border: 3px dashed red;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
}

.wprb-selection-added {
  background-color: Lime;
  border: 3px dashed red;
  cursor: pointer; 
  box-sizing: border-box;
  padding: 5px;
}

